<!-- This file displays the input functionality for the recipe components. Dropdowns etc.  -->

<!-- Contains the Recipe Image -->
<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>

<!-- <div class="row">
  <div class="col-xs-12">
      <h1>Recipe Name</h1>
  </div>
</div> -->

<!-- Handles the top dropdown menu -->
<div class="row">
  <div class="col-xs-12">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage Recipe 
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Add Ingrdients to Shopping List</a></li>
          <li><a href="#">Edit Recipe</a></li>
          <li><a href="#">Delete Recipe</a>
          </li>
        </ul>
      </div>
  </div>
</div>

<hr>

<!-- Description and Ingredients -->
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Ingredient
  </div>
</div>